<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nike.douye.mapper.FilmMapper">
    <resultMap id="filmAllInformation" type="com.nike.douye.entity.FilmAllInformation">
        <collection property="filmDTOS" resultMap="film"></collection>
        <collection property="filmInformations" resultMap="filmInformation"></collection>
    </resultMap>
    <resultMap id="film" type="com.nike.douye.dto.FilmDTO">
        <id column="id" property="id"></id>
        <result column="filmName" property="film_name"></result>
        <result column="filmDirector" property="film_director"></result>
        <result column="filmWriter" property="film_writer"></result>
        <result column="filmActor" property="film_actor"></result>
        <result column="filmDate" property="film_date"></result>
        <result column="filmLength" property="film_length"></result>
        <result column="filmIntroduction" property="film_introduction"></result>
        <result column="filmPicture" property="film_picture"></result>
        <result column="isNew" property="film_isnew"></result>
    </resultMap>
    <resultMap id="filmInformation" type="com.nike.douye.entity.FilmInformation">
        <result column="filmType" property="fiim_type"></result>
        <result column="filmCountry" property="film_country"></result>
        <result column="filmLanguage" property="film_language"></result>
    </resultMap>
    <insert id="insertFilm">
        insert into
        film_thing(film_name,film_director,film_writer,film_actor,fiim_type,film_country,film_language,
        film_date,film_length,film_introduction,film_picture,film_isnew)
        values(#{filmDTO.filmName},#{filmDTO.filmDirector},#{filmDTO.filmWriter},#{filmDTO.filmActor},
               #{filmInformation.filmType},#{filmInformation.filmCountry},#{filmInformation.filmLanguage},
               #{filmDTO.filmDate},#{filmDTO.filmLength},#{filmDTO.filmIntroduction},#{filmDTO.filmPicture},
               #{filmDTO.isNew})
    </insert>

    <update id="updateFilm">
        update film_thing set
        film_name = #{filmDTO.filmName}, film_director = #{filmDTO.filmDirector},
        film_writer = #{filmDTO.filmWriter}, film_actor = #{filmDTO.filmActor},
        fiim_type = #{filmInformation.filmType}, film_country = #{filmInformation.filmCountry},
        film_language = #{filmInformation.filmLanguage}, film_date = #{filmDTO.filmDate},
        film_length = #{filmDTO.filmLength}, film_introduction = #{filmDTO.filmIntroduction},
        film_picture = #{filmDTO.filmPicture}, film_isnew = #{filmDTO.isNew}
        where id = #{filmDTO.id}
    </update>

    <!--查询-->
    <!--查询所有电影的基本信息-->
    <select id="queryAllFilms" resultType="com.nike.douye.dto.FilmDTO">
        select id,film_name as filmName,film_director as filmDirector,
            film_writer as filmWriter, film_actor as filmActor,film_date as filmDate,
            film_length as filmLength,film_introduction as filmIntroduction,
            film_picture as filmPicture,film_isnew as isNew
        from film_thing
    </select>
    <!--查询所有电影的类别、国家、语言-->
    <select id="queryInformationOfAllFilm" resultType="com.nike.douye.entity.FilmInformation">
        select id,fiim_type as filmType,film_country as filmCountry,
            film_language as filmLanguage
        from film_thing
    </select>

    <!--根据电影名查询-->
    <select id="queryFilmByFilmName" resultType="com.nike.douye.dto.FilmDTO">
        select id,film_name as filmName,film_director as filmDirector,
            film_writer as filmWriter, film_actor as filmActor,
            film_date as filmDate,
            film_length as filmLength,film_introduction as filmIntroduction,
            film_picture as filmPicture,film_isnew as isNew
        from film_thing
        where film_name = #{filmName}
    </select>

    <select id="queryInformationOfFilm" resultType="com.nike.douye.entity.FilmInformation">
        select id,fiim_type as filmType,film_country as filmCountry,
            film_language as filmLanguage
        from film_thing
        where film_name = #{filmName}
    </select>
</mapper>